{
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": true,
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": "> .5%, last 2 versions, not dead"
      }
    ]
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import"]
}
